<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
</head>
<body>
    <center>
        <form action="../controllers/addProductCheck.php" method="POST" >
            <table border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>
                        <fieldset>
                            <legend><h3>Add Product</h3></legend>
                            Name<br/>
                            <input type="text" name="name" id="name" value=""><br/>
                            Description<br/>
                            <input type="text" name="description" id="description" value=""><br/>
                            Price<br/>
                            <input type="number" name="price" id="price" value=""><br/>              
                            <hr>
                            <input type="submit" name="submit" value="Submit" onclick="return validate()">
                            
                        </fieldset>
                    </td>
                </tr>                                
            </table>
        </form>
        </center>
        <script>
            function validate(){
                let name = document.getElementById('name').value;
                let description = document.getElementById('description').value;
                let price = document.getElementById('price').value;
                
                if(name == ""){
                    alert('Name Cannot Be Empty');
                    return false;
                }

                if(description == ""){
                    alert('Description Cannot Be Empty');
                    return false;
                }
                
                if(price <= 0){
                    alert('Price Should Be Greater Than Zero');
                    return false;
                }


                return true;

            }
        </script>
</body>
</html>




            
